#main_panel .ui-panel-titlebar {
	padding: 0;
	text-align: center;
}

#main_panel .ui-panel-footer {
	font-size: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#main_content {
	width: 100%;
}